body {
    margin: 0;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    width: 65vw;
    align-items: center;
    background-color: #F6F6F6;;
}

.account-text {
    font-size: 1.4em;
}

.name {
    margin-top: 15px;
}

.email {
    margin-top: 15px;
}

.acc-change {
    margin-top: 15px;
}

.acc-change > button {
    justify-content: center;
    align-content: center;
    border: none;
    padding: 0.3em;
    margin: 10px;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1em;
    color: #FFFFFF;
}

@media only screen and (max-device-width: 420px) {

    .container {
        margin-top: 50px;
    }

    .main {
        margin-right: auto;
        margin-left: auto;
    }

}