body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.logo{
    margin: 0;
    width: 10vw;
    display: flex;
}

.logo>img {
    width: 10em;
    height: 10em;
}

.logo>b {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
}

.login-image>img {
    margin: auto;
    margin-bottom: 5em;
    width: 50vw;
    height: 85vh;
    object-fit: contain;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    margin-top: 15vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

input {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 4vh;
}

.login-button {
    border: none;
    margin-top: 0.8em;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 4vh;
    color: #FFFFFF;
}

.sign-in-button {
    border: none;
    margin-top: 35px;   
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1.5em;
    color: #FFFFFF;
}



.mobile-header {
    display: none;
}

.mobile-login-image {
    display: none;
}



@media only screen and (max-device-width: 420px) {
    
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .second-bar {
        display: none;
    }
    
    .login-image {
        display: none;
    }

    header {
        margin: 0;
        background: #4D7EFF;
        width: 100vw;
        height: 4vh;
    }

    .navi-mobile-bar {
        display: flex;
        flex-direction: row;
        margin: 0;


    }

    .navi-mobile-bar>b {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        color: white;
        white-space: nowrap;
        margin-top: auto;
        margin-bottom: auto;
    }

    i {
        font-size: 2vh;
        margin: 0.3em;
        border-style: solid;
        border-width: 0.2em;
        border-color: white;
        box-sizing: border-box;
        list-style-type: none;
        background-color: white;
    }

    .back-icon {
        margin-top: 0.3;
        margin-left: auto;
        margin-right: 2vw;
        margin-bottom: 0.3;
    }
    
    .mobile-login-image {
        display: block;
    }

    .mobile-login-image>img {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 25vh;
        object-fit: contain;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .login-container {
        margin-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
    }

    .login-form{
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        background: #FFFFFF;
        border: 1px solid #AAAAAA;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 3em;
        font-size: large;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }

    .login-button {
        border: none;
        margin-top: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #4D7EFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2.8em;
        line-height: 4vh;
        color: #FFFFFF;
    }
    
    .sign-in-button {
        border: none;
        margin-top: 25px;   
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
        background: #4D7EFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2.8em;
        line-height: 1.5em;
        color: #FFFFFF;
    }

    footer {
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        width: 100vw;
        height: auto;
        background: #4D7EFF;
        
    }

}