body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.main {

}

main > a {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    color: black;
}

@media only screen and (max-device-width: 420px) {

    .container {
        margin-top: 50px;
    }

    .main {
        margin-left: auto;
        margin-right: auto;
    }

}