body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.offers{
    background-color:  #F6F6F6;
    width: 65vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media only screen and (max-device-width: 420px) {

    .container {
        margin-top: 50px;
        flex-direction: column;
    }

    .offers {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

}

