.choose::-webkit-file-upload-button {
    border: none;
    margin-top: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1em;
    color: #FFFFFF;
}