body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    width: 65vw;
    align-items: center;
    background-color: #F6F6F6;;
}

.profile-text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.5em;
    color: black;
}

.main > img {
    margin: auto;
    width: 40vw;
    height: 40vh;
    object-fit: contain;
}

.main > a {
    color: black;
}

h1 {
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.4em;
    color: black;
    margin: 0;
}

.main-title > b{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        line-height: 2em;
        color: black;
        margin: 0;
}


.dropshadow-border-style {
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me {
    width: max-content;
}

.main-title {
    width:fit-content;
}

.main > .edit-button {
        border: none;
        margin-top: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #4D7EFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2.8em;
        line-height: 4vh;
        color: #FFFFFF;
}

@media only screen and (max-device-width: 750px) {

    .main {
        margin-left: auto;
        margin-right: auto;
    }

    .main > img {
        height: 30vh;
        object-fit: cover;
    }

}

@media only screen and (max-device-width: 420px) {

    .main > img {
        height: 30vh;
        object-fit: cover;
    }

    .main {
        width: 80vw;
    }

}