body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

header {
    background: #4D7EFF;
}
nav {
    
}

ul {
    display: flex;
    justify-content: right;
    margin-top : 0;
    
}

li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    list-style-type: none;
}

a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #FFFFFF;
}

.logo{
    margin: 0;
    width: 10em;
    display: flex;
}

.logo>img {
    width: 10em;
}

.logo>b {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.login-image {
    
}

.login-image>img {
    margin: auto;
    margin-bottom: 5em;
    width: 50vw;
    height: 85vh;
    object-fit: contain;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    margin-top: 10em;
    width: 50vw;
}

.login-input {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 10vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button {
    border: none;
    margin-top: 0.8em;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.6em;
    color: #FFFFFF;
}

.sign-in-button {
    border: none;
    margin-top: 2em;
    background: #4D7EFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-left: 3em;
    margin-right: 3em;
    color: #FFFFFF;
    width: 70vw;
    height: 5vh;
}

footer {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    width: 100vw;
    height: auto;
    background: #4D7EFF;
    
}

footer>b {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 0.8em;
    color: #FFFFFF;
}

.mobile-header {
    display: none;
}

.mobile-login-image {
    display: none;
}



@media only screen and (max-device-width: 420px) {
    
    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .second-bar {
        display: none;
    }
    
    .login-image {
        display: none;
    }

    header {
        margin: 0;
        margin-left: 2em;
        background: #4D7EFF;
        width: 100vw;
        height: 4vh;
    }

    .navi-mobile-bar {
        display: flex;
        flex-direction: row;
        margin: 0;


    }

    .navi-mobile-bar>b {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        color: white;
        white-space: nowrap;
        margin-top: auto;
        margin-bottom: auto;
    }

    i {
        font-size: 2vh;
        margin: 0.3em;
        border-style: solid;
        border-width: 0.2em;
        border-color: white;
        box-sizing: border-box;
        list-style-type: none;
        background-color: white;
    }

    .back-icon {
        margin-top: 0.3;
        margin-left: auto;
        margin-right: 7vw;
        margin-bottom: 0.3;
    }
    
    .mobile-login-image {
        display: block;
    }

    .mobile-login-image>img {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 25vh;
        object-fit: contain;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .login-container {
        margin-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        background: #FFFFFF;
        border: 1px solid #AAAAAA;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 3em;

        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }

}